<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>747133360099-vitruugq8l7ape42r9csmd2qqkkgd7us.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.747133360099-vitruugq8l7ape42r9csmd2qqkkgd7us</string>
	<key>API_KEY</key>
	<string>AIzaSyCFx9He3I_nJimhncCEkuXsyZy1Y8lttyg</string>
	<key>GCM_SENDER_ID</key>
	<string>747133360099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mehmet.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-10629</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-10629.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747133360099:ios:1282876561b7639bbfb2d6</string>
</dict>
</plist>